[Desktop Entry]
Type=Application
Name=ProyecThor
Comment=Reproductor multimedia con VLC + OpenGL
Exec=proyecthor
Icon=proyecthor
Terminal=false
Categories=AudioVideo;Player;Graphics;
